* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.gameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    perspective: 1700px;
	background: lightblue;
}

.card {
    width: 180px;
    height: 180px;
    margin: 20px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.cardFront,
.cardBack {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.cardFront {
    background: orange;
}

.cardBack {
    background: #4e58a2;
    transform: rotateY(180deg);
}

.flip .cardFront{
    transform: rotateY(180deg);
}
/**/
.flip .cardBack{
    transform: rotateY(360deg);
}
.cardFront p{
    text-transform: uppercase;
    font-size: 50px;
    color: blue;
    transform: rotate(45deg);
}